# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/google-services.json
*.jks
!whitechat-release.jks

# IDE
.idea/
*.iml
.vscode/
