# Python
__pycache__/
*.pyc

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/google-services.json
*.jks
!whitechat-release.jks

firebase_config/google-services.json

# IDE
.idea/
*.iml
.vscode/

# Segredos de assinatura (nao vao para o GitHub)
android/key.properties
whitechat-release.jks
